@charset "UTF-8";
@media screen and (max-width: 1024px) {
  .mv {
    margin-bottom: 93px;
    margin-bottom: 26px;
  }
  .mv img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .front-ttl {
    font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 30px;
    color: #D93915;
    margin: 0 0 26px;
    text-align: center;
  }
  .front-ttl--center {
    text-align: center;
  }
  .seminar {
    margin-bottom: 36px;
    margin-bottom: 76px;
  }
  .seminar__list {
    margin-bottom: 40px;
    margin: 0 10vw 30px;
  }
  .seminar__list li {
    background-color: #D93915;
  }
  .seminar__list a {
    display: block;
    height: 100%;
    color: #ffffff;
  }
  .seminar__list p {
    padding: 13px 25px;
  }
  .seminar__list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .seminar__list__img {
    background-color: #ffffff;
  }
  .seminar__list__img img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover .seminar__list__img img {
    opacity: 0.7;
  }
  .news {
    margin-bottom: 38px;
    margin-bottom: 76px;
  }
  .news__list {
    margin-bottom: 40px;
    margin-bottom: 30px;
  }
  .news__list li {
    background-color: #ffffff;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
    padding: 16px 19px;
  }
  .news__list time {
    font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    color: #787878;
  }
  .news__list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .news__list__ttl {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 35px;
  }
  .our {
    font-size: 1.8rem;
    margin-bottom: 114px;
    padding: 50px 0 56px;
    text-align: center;
    color: #ffffff;
    background-color: #D93915;
  }
  .our__ttl {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 26px;
    letter-spacing: 0.2em;
    -webkit-font-feature-settings: 'palt';
    font-feature-settings: 'palt';
    -webkit-font-smoothing: antialiased;
    font-size: 4rem;
  }
  .our__ttl + p {
    line-height: 2.22222;
    margin-bottom: 34px;
    letter-spacing: 0.3em;
  }
  .trainer {
    margin-bottom: 114px;
    margin-bottom: 76px;
  }
  .trainer__list li:not(:last-child) {
    margin-bottom: 40px;
  }
  .trainer__list__img {
    margin-bottom: 20px;
  }
  .trainer__list__img img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover .trainer__list__img img {
    opacity: 0.7;
  }
  .trainer__list__txt p {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 0.5em;
    color: #ffffff;
    background-color: #D93915;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .trainer__list__txt p::before {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 21px;
    height: 5px;
    margin: auto;
    content: '';
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url("../images/common/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  a:hover .trainer__list__txt p::before {
    right: 15px;
  }
  .trainer__list__txt p {
    font-size: 2rem;
    width: 250px;
    height: 40px;
    margin: auto;
  }
  .school {
    margin-bottom: 116px;
    margin-bottom: 76px;
  }
  .school__list li {
    background-color: #D93915;
  }
  .school__list a {
    font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.35;
    position: relative;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 46px 0;
    letter-spacing: 0.15em;
    color: #ffffff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .school__list a::before {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 21px;
    height: 5px;
    content: '';
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url("../images/common/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .school__list a:hover::before {
    right: 15px;
  }
  .school__list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .school__list a {
    font-size: 3rem;
    padding: 35px 0;
  }
  .books {
    margin-bottom: 59px;
  }
  .books__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 34px;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .books__list a {
    display: block;
  }
  .books__list a:hover img {
    opacity: 0.7;
  }
  .books__list img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .books__list figcaption {
    font-size: 1.3rem;
  }
  .books__list li {
    width: calc((100% - 10vw) / 2);
  }
  .books__list li:nth-of-type(odd) {
    margin-right: 10vw;
  }
  .books__list li:not(:nth-of-type(-n+2)) {
    margin-top: 30px;
  }
  .youtube {
    margin-bottom: 119px;
    padding: 80px 0;
    background-color: #D93915;
    margin-bottom: 76px;
    padding: 63px 0;
  }
  .youtube__list a {
    color: #ffffff;
  }
  .youtube__list time {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }
  .youtube__list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .youtube__list__movie {
    margin-bottom: 6px;
    background-color: #ffffff;
  }
  .youtube__list__movie img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover .youtube__list__movie img {
    opacity: 0.7;
  }
  .youtube__list__ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .contact {
    margin-bottom: 225px;
    margin-bottom: 48px;
  }
}

@media print, screen and (min-width: 1025px) {
  .mv {
    margin-bottom: 93px;
  }
  .mv img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .front-ttl {
    font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 30px;
    color: #D93915;
  }
  .front-ttl--center {
    text-align: center;
  }
  .seminar {
    margin-bottom: 36px;
  }
  .seminar__list {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .seminar__list li {
    background-color: #D93915;
  }
  .seminar__list a {
    display: block;
    height: 100%;
    color: #ffffff;
  }
  .seminar__list p {
    padding: 13px 25px;
  }
  .seminar__list li {
    width: calc((100% - 40px * 3) / 4);
  }
  .seminar__list li:not(:nth-of-type(4n)) {
    margin-right: 40px;
  }
  .seminar__list li:not(:nth-of-type(-n + 4)) {
    margin-top: 40px;
  }
  .seminar__list__img {
    background-color: #ffffff;
  }
  .seminar__list__img img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover .seminar__list__img img {
    opacity: 0.7;
  }
  .news {
    margin-bottom: 38px;
  }
  .news__list {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .news__list li {
    background-color: #ffffff;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
    padding: 16px 19px;
  }
  .news__list time {
    font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    color: #787878;
  }
  .news__list li {
    width: calc((100% - 50px * 2) / 3);
  }
  .news__list li:not(:nth-of-type(3n)) {
    margin-right: 50px;
  }
  .news__list li:not(:nth-of-type(-n + 3)) {
    margin-top: 50px;
  }
  .news__list__ttl {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 35px;
  }
  .our {
    font-size: 1.8rem;
    margin-bottom: 114px;
    padding: 50px 0 56px;
    text-align: center;
    color: #ffffff;
    background-color: #D93915;
  }
  .our__ttl {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 26px;
    letter-spacing: 0.2em;
    -webkit-font-feature-settings: 'palt';
    font-feature-settings: 'palt';
    -webkit-font-smoothing: antialiased;
  }
  .our__ttl + p {
    line-height: 2.22222;
    margin-bottom: 34px;
    letter-spacing: 0.3em;
  }
  .trainer {
    margin-bottom: 114px;
  }
  .trainer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .trainer__list li {
    width: calc((100% - 94px) / 2);
  }
  .trainer__list li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  .trainer__list li:nth-of-type(odd) {
    margin-right: 94px;
  }
  .trainer__list li:not(:nth-of-type(-n + 2)) {
    margin-top: 94px;
  }
  .trainer__list li:nth-of-type(even) a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: column-reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
  .trainer__list__img img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover .trainer__list__img img {
    opacity: 0.7;
  }
  li:nth-of-type(odd) .trainer__list__img {
    margin-bottom: -20px;
    margin-left: 53px;
  }
  li:nth-of-type(even) .trainer__list__img {
    margin-top: -20px;
    margin-right: 53px;
  }
  .trainer__list__txt p {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 0.5em;
    color: #ffffff;
    background-color: #D93915;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .trainer__list__txt p::before {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 21px;
    height: 5px;
    margin: auto;
    content: '';
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url("../images/common/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  a:hover .trainer__list__txt p::before {
    right: 15px;
  }
  .trainer__list__txt p {
    height: 80px;
  }
  li:nth-of-type(odd) .trainer__list__txt p {
    margin-right: 53px;
  }
  li:nth-of-type(even) .trainer__list__txt p {
    margin-left: 53px;
  }
  .school {
    margin-bottom: 116px;
  }
  .school__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .school__list li {
    background-color: #D93915;
  }
  .school__list a {
    font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.35;
    position: relative;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 46px 0;
    letter-spacing: 0.15em;
    color: #ffffff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .school__list a::before {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 21px;
    height: 5px;
    content: '';
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: url("../images/common/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .school__list a:hover::before {
    right: 15px;
  }
  .school__list li {
    width: calc((100% - 50px) / 2);
  }
  .school__list li:nth-of-type(odd) {
    margin-right: 50px;
  }
  .books {
    margin-bottom: 59px;
  }
  .books__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 34px;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .books__list a {
    display: block;
  }
  .books__list a:hover img {
    opacity: 0.7;
  }
  .books__list img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .books__list figcaption {
    font-size: 1.3rem;
  }
  .books__list li {
    width: 132px;
    margin: 0 40px;
  }
  .youtube {
    margin-bottom: 119px;
    padding: 80px 0;
    background-color: #D93915;
  }
  .youtube__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .youtube__list a {
    color: #ffffff;
  }
  .youtube__list time {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }
  .youtube__list li {
    width: calc((100% - 110px * 2) / 3);
  }
  .youtube__list li:not(:nth-of-type(3n)) {
    margin-right: 110px;
  }
  .youtube__list li:not(:nth-of-type(-n+3)) {
    margin-top: 60px;
  }
  .youtube__list__movie {
    margin-bottom: 6px;
    background-color: #ffffff;
  }
  .youtube__list__movie img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover .youtube__list__movie img {
    opacity: 0.7;
  }
  .youtube__list__ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .contact {
    margin-bottom: 225px;
  }
}
