@charset "UTF-8";

/* ----------------------------------------
 *  Core Style:
 * ---------------------------------------- */
.lastSidebar {
	width: 30%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9998;
	overflow: scroll-y;
	-webkit-overflow-scrolling: touch;
	background: rgba(255,255,255,0.9);
}

#lastOverlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(0, 0, 0, 0.4);
}

body.noscroll {
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	overflow: hidden;
}

/* ----------------------------------------
 *  Responsive Style:
 * ---------------------------------------- */
@media only screen and (max-width: 769px) {
	.lastSidebar {
		width: 30%;
	}
}
@media only screen and (max-width: 768px) {
	.lastSidebar {
		width: 55%;
	}
}
@media only screen and (max-width: 480px) {
	.lastSidebar {
		width: 70%;
	}
}

/* ----------------------------------------
 *  User Style:
 * ---------------------------------------- */

#slideMenu .innerbox{
	padding:0px;
	width:100%;
	height: 100%;
	overflow-y: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*background:rgba(255,255,255,0.8);*/
	color:#333;
}

#slideMenu .innerbox *{
	margin:0;
	padding:0;
	list-style-type:none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#slideMenu .searchbox{
	padding:10px;
	border-bottom:solid 1px #CCC;
	background:#F4F4F4;
}

#slideMenu .searchbox .ttl{
	font-size:12px;
	margin-bottom:5px;
}


#slideMenu .searchbox input[type="text"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:solid 1px #999 !important;
	border-radius:0px !important;
	font-size:14px;
	color:#333;
	padding:3px 33px 3px 3px;
	height:30px;
	width:100%;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8zMS8xN6MZYLkAAAAYdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3Jrc0+zH04AAAHvSURBVEiJtZbNcdswEIU/cVKAO4g7kHLao5wKZHdAVeBRBWYqkFOB2UHiCkwd3yl0ByqBHdAHghJHWfDP1rtwBli8jwAWwC7qumZIkm6AFdB+S6ACSjOrBg0cLfrAklLgMcBiKoHfZpZ/GizpHtgDtxO8jsDOzP7OAkt6AdIJwEvlZrYdCkq+GAqQBp9xYEn7L4B24fu+gEVd10i6A9564nKaJTy0DZLWND+a9oz7aWZFH/gffuYegQczK2POklbAH/xELM3shzcuCbP1oNUQFCD0P4T4S62C//9gYBPx3A1BL+C7SLfrnwDeHx2nXggh3pu150+Cv8wHp22MXp0299ZLvEaapJqj0eNi4Ksrwd+X+5l+3jj39UqAwmlfSrqdQgzxS6fL8ycBYq/J8xRwT7zr34K95dhIyscQQ5x3XqsYuL0yn4As4nsAMu/ODbdSBqwjYzMz++V1fAvfZ5rE8M7cGniT9E6zXxVNCXSHv6ddRcuiUyEgaRmMbwbMpmrr3YKnc2xm7zSzmFW89ehFUhYFd+ArIkfgE3q6rEqiVaakDU3i9FWYrY6ckzPviTvVY73lbfiBJefE6+5/RbMyRVipbnxBPFdyM9sOgudoBDy7CngEvLra6zRwSqqrzbhVZObp1cEB/p1zGVyY2eEDX5XemyyjLLAAAAAASUVORK5CYII=) #FFF no-repeat 99% center;
	background-size:15px 15px;
}

#slideMenu .searchbox form{
	position:relative;
}

#slideMenu .searchbox button{
	position:absolute;
	right:0;
	top:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background:#000;
	color:#666;
	height:30px;
	width:40px;
	text-align:center;
	border:none;
}

#slideMenu .category{

}

#slideMenu .category input{
	display:none;
}

#slideMenu .category label{
	display:block;
	background:#fff;
	font-size: 13px;
	color:#FFF;
	font-weight:bold;
	padding:8px;
	text-decoration: none;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAASCAYAAABM8m7ZAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8zMS8xN6MZYLkAAAAYdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3Jrc0+zH04AAACJSURBVEiJtdY7DgAhCARQ5P53ZqtNlCjMINqY+JlnxMJhZjI1E5Ehb9qSrW5i7rvRJVv9wAN8m60B0oEfs1Ximt7g0d7xX3U3HqIi6+PqwlPUwx04hO7gGxxGT3AFp9AIZnAazWAEL6EInAZU9yAwi0NrURgNhA/IwFkwVRIWPgH0O6jAHip9HD61OyEhV/jowgAAAABJRU5ErkJggg==) #999 no-repeat;
	background-position:98% center;
	background-size:15px 9px;
	border-bottom:solid 1px #CCC;
}

#slideMenu .category input:checked + label,
#slideMenu .category input:checked + label:hover{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAASCAYAAABM8m7ZAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8zMS8xN6MZYLkAAAAYdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3Jrc0+zH04AAACGSURBVEiJtdNRDsAgCANQ4P53dl9bMiPQVvXLKPTFBH2MYeJ6G11pjk103l+FVxCNs3AFUDgDI8EwjsLMa6BaBFaGp+3p4CrArf5KJV7BHbrawxkZjKIyvoJZVMJnWEVpPLILAaXwmA82URiPCyiER1Gwg3YZHknBCTTLcrP/cHlSeBL/sh8+8iAhMXT9JQAAAABJRU5ErkJggg==);
}

#slideMenu .category .child{
	height:0;
	overflow: hidden;
}

#slideMenu .category input:checked ~ .child{
	height:auto;
}

#slideMenu .category ul li a{
	display:block;
	font-size: 18px;
	padding:15px 44px;
	text-decoration: none;
	/*background:#F4F4F4;*/
	color:#333;
	border-bottom:solid 1px #CCC;
  transition: 0.2s;
  position: relative;
}

@media only screen and (max-width: 767px) {
  #slideMenu .category ul li a{
    font-size: 14px;
    padding: 10px 5px 10px 32px;
    line-height: 1.5;
  }
  
}


#slideMenu .category ul li a:hover{
  opacity: 0.6;
}

#slideMenu .category ul li a::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: solid 1px  #ccc;
    border-right: solid 1px  #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 14px;
    top: 40%;
}

@media only screen and (max-width: 767px) {
  #slideMenu .category ul li a::before{
    width: 6px;
    height: 6px;
  }
  
}



#slideMenu .category ul li ul li a{
	padding-left:12px;
	font-size:12px;
	color:#333;
	border-bottom:solid 1px #CCC;
	/*background:#EEE;*/
}


#slideMenu .closebtn{
	padding:10px;
  width: 90%;
  margin: 50px auto 0;
}

@media only screen and (max-width: 767px) {
  #slideMenu .closebtn{
    margin: 5px auto 0;
  }
}

#slideMenu .closebtn a{
	/*border:solid 2px #73BAA1;*/
	color:#fff;
  background: #a7422e;
	padding:15px;
	font-size:20px;
	text-align:center;
	display:block;
	text-decoration:none;
  /*border-radius: 30px;*/
  transition: 0.4s;
}

@media only screen and (max-width: 767px) {
  #slideMenu .closebtn a{
    padding: 10px;
    font-size: 14px;
  }
  
}


#slideMenu .closebtn a:hover{
  opacity: 0.6;
}



/*カスタム*/
@media only screen and (max-width: 767px) {
  
  
}








