.mv {
  position: relative;
  margin-bottom: 93px;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    content: '';
    transition: 0.3s;
    opacity: 0;
    background-color: #000000;
  }
  &.active {
    &::before {
      opacity: 0.7;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }
  @if $type == sp {
    margin-bottom: 26px;
  }
}

.front-ttl {
  font-family: $ff_eng;
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 30px;
  color: $c_base;
  @if $type == sp {
    margin: 0 0 26px;
    text-align: center;
  }
}

.front-ttl--white {
  color: #ffffff;
}

.front-ttl--center {
  text-align: center;
}

//===========================================
//  SEMINAR
//===========================================

.seminar {
  margin-bottom: 36px;
  @if $type == sp {
    margin-bottom: 76px;
  }
}

.seminar__list {
  margin-bottom: 40px;
  li {
    background-color: $c_base;
  }
  a {
    display: block;
    height: 100%;
    color: #ffffff;
  }
  p {
    padding: 13px 25px;
  }
  @if $type == pc {
    display: flex;

    flex-flow: wrap;
    li {
      width: calc((100% - 40px * 3) / 4);
      &:not(:nth-of-type(4n)) {
        margin-right: 40px;
      }
      &:not(:nth-of-type(-n + 4)) {
        margin-top: 40px;
      }
    }
  }
  @if $type == sp {
    margin: 0 $margin_sp 30px;
    li {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.seminar__list__img {
  background-color: #ffffff;
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    transition: 0.3s;
    a:hover & {
      opacity: 0.7;
    }
  }
}

//===========================================
//  NEWS
//===========================================

.news {
  margin-bottom: 38px;
  @if $type == sp {
    margin-bottom: 76px;
  }
}

.news__list {
  margin-bottom: 40px;
  li {
    display: block;
    box-sizing: border-box;
    min-height: 150px;
    padding: 16px 19px;
    background-color: #ffffff;
  }
  time {
    font-family: $ff_eng;
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    color: #787878;
  }
  @if $type == pc {
    display: flex;

    flex-flow: wrap;
    li {
      width: calc((100% - 50px * 2) / 3);
      &:not(:nth-of-type(3n)) {
        margin-right: 50px;
      }
      &:not(:nth-of-type(-n + 3)) {
        margin-top: 50px;
      }
    }
  }
  @if $type == sp {
    margin-bottom: 30px;
    li {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.news__list__ttl {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 35px;
}

//===========================================
//  OUR VISION
//===========================================

.our {
  font-size: 1.8rem;
  margin-bottom: 114px;
  padding: 50px 0 56px;
  text-align: center;
  color: #ffffff;
  background-color: $c_base;
}

.our__ttl {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 26px;
  letter-spacing: 0.2em;

  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  + p {
    line-height: 2.22222;
    margin-bottom: 34px;
    letter-spacing: 0.3em;
  }
  @if $type == sp {
    font-size: 4rem;
  }
}

//===========================================
//  TRAINER
//===========================================

.trainer {
  margin-bottom: 114px;
  @if $type == sp {
    margin-bottom: 76px;
  }
}

.trainer__list {
  @if $type == pc {
    display: flex;

    flex-flow: wrap;
    li {
      width: calc((100% - 94px) / 2);
      a {
        display: flex;

        flex-flow: column;
      }
      &:nth-of-type(odd) {
        margin-right: 94px;
      }
      &:not(:nth-of-type(-n + 2)) {
        margin-top: 94px;
      }
      &:nth-of-type(even) a {
        flex-flow: column-reverse;
      }
    }
  }
  @if $type == sp {
    li {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.trainer__list__img {
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    transition: 0.3s;
    a:hover & {
      opacity: 0.7;
    }
  }
  @if $type == pc {
    li:nth-of-type(odd) & {
      margin-bottom: -20px;
      margin-left: 53px;
    }
    li:nth-of-type(even) & {
      margin-top: -20px;
      margin-right: 53px;
    }
  }
  @if $type == sp {
    margin-bottom: 20px;
  }
}

.trainer__list__txt {
  p {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: flex;
    letter-spacing: 0.5em;
    color: #ffffff;
    background-color: $c_base;

    align-items: center;
    justify-content: center;
    &::before {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      display: block;
      width: 21px;
      height: 5px;
      margin: auto;
      content: '';
      transition: 0.3s;
      background-image: url('../images/common/arrow.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    a:hover & {
      &::before {
        right: 15px;
      }
    }
  }
  @if $type == pc {
    p {
      height: 80px;
      li:nth-of-type(odd) & {
        margin-right: 53px;
      }
      li:nth-of-type(even) & {
        margin-left: 53px;
      }
    }
  }
  @if $type == sp {
    p {
      font-size: 2rem;
      width: 250px;
      height: 40px;
      margin: auto;
    }
  }
}

//===========================================
//  SCHOOL
//===========================================

.school {
  margin-bottom: 116px;
  @if $type == sp {
    margin-bottom: 76px;
  }
}

.school__list {
  li {
    background-color: $c_base;
  }
  a {
    font-family: $ff_eng;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.35;
    position: relative;
    display: block;
    display: flex;
    padding: 46px 0;
    letter-spacing: 0.15em;
    color: #ffffff;

    align-items: center;
    justify-content: center;
    &::before {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: block;
      width: 21px;
      height: 5px;
      content: '';
      transition: 0.3s;
      background-image: url('../images/common/arrow.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      &::before {
        right: 15px;
      }
    }
  }
  @if $type == pc {
    display: flex;

    flex-flow: wrap;
    li {
      width: calc((100% - 50px) / 2);
      &:nth-of-type(odd) {
        margin-right: 50px;
      }
    }
  }
  @if $type == sp {
    li {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    a {
      font-size: 3rem;
      padding: 35px 0;
    }
  }
}

//===========================================
//  BOOKS
//===========================================

.books {
  margin-bottom: 59px;
}

.books__list {
  display: flex;
  margin-bottom: 34px;

  flex-flow: wrap;
  figure {
    display: flex;
    height: 100%;

    flex-flow: column;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    transition: 0.3s;
  }
  figcaption {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  @if $type == pc {
    justify-content: center;
    li {
      width: 132px;
      margin: 0 40px;
    }
    figcaption {
      min-height: 3.2em;
    }
  }
  @if $type == sp {
    li {
      width: calc((100% - #{$margin_sp}) / 2);
      &:nth-of-type(odd) {
        margin-right: $margin_sp;
      }
      &:not(:nth-of-type(-n+2)) {
        margin-top: 30px;
      }
    }
  }
}

//===========================================
//  YOUTUBE
//===========================================

.youtube {
  margin-bottom: 119px;
  padding: 80px 0;
  background-color: $c_base;
  @if $type == sp {
    margin-bottom: 76px;
    padding: 63px 0;
  }
}

.youtube__list {
  a {
    color: #ffffff;
  }
  time {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }
  @if $type == pc {
    display: flex;

    flex-flow: wrap;
    li {
      width: calc((100% - 110px * 2) / 3);
      &:not(:nth-of-type(3n)) {
        margin-right: 110px;
      }
      &:not(:nth-of-type(-n+3)) {
        margin-top: 60px;
      }
    }
  }
  @if $type == sp {
    li {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.youtube__list__movie {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 6px;
  padding-top: 53.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.youtube__list__ttl {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

//===========================================
//  CONTACT
//===========================================

.contact {
  margin-bottom: 225px;
  @if $type == sp {
    margin-bottom: 48px;
  }
}
