body {
  font-family: $ff_ja;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

img {
  -webkit-backface-visibility: hidden;
}


//top
.wrap {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 60px;
  @if $type == sp {
    margin: auto $margin_sp;
    padding-bottom: 40px;
  }
}

.ttl-caption {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  letter-spacing: 0.3em;
  color: #ffc83c;
  li {
    position: relative;
    &:not(:last-child) {
      padding-right: 60px;
      &::before,
      &::after {
        position: absolute;
        top: 2px;
        right: 20px;
        bottom: 0;
        display: block;
        width: 26px;
        height: 1px;
        margin: auto;
        content: '';
        background-color: #ffc83c;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

h1 {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  span {
    color: #eb463c;
  }
  @if $type == sp {
    font-size: 3.4rem;
  }
}

.top {
  padding-top: 90px;
  background: $c_base url('../images/insurance_dx_sales/bg_top.png') center no-repeat;
  background-size: cover;
  > p {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
  @if $type == pc {
    > p {
      .sp {
        display: none;
      }
    }
  }
  @if $type == sp {
    padding: 40px 0;
    > p {
      font-size: 1.7rem;
    }
  }
}

//main-movie
.main-movie {
  background-color: $c_base;
  padding-bottom: 62px;
  @if $type == sp {
    padding-bottom: 0;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    background-color: #eb463c;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 0.1em;
    @if $type == sp {
      font-size: 2.5rem;
    }
  }
  .movie-wrap {
    p {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      color: #fff;
      padding: 60px 0 25px 0;
      @if $type == sp {
        font-size: 1.8rem;
        padding: 25px 0;
      }
    }
  }
  .youtube-wrap {
    max-width: 1000px;
    margin: 0 auto;
    iframe {
      width: 100%;
      max-width: 1000;
      max-height: 563px;
      margin-bottom: 64px;
    }
    @if $type == sp {
      box-sizing: border-box;
      padding: 0 10px;
      iframe {
        margin: 0 0 32px;
      }
    }
  }
}

.entry-btn {
  a {
    font-size: 3.5rem;
    font-weight: 300;
    display: block;
    max-width: 600px;
    margin: auto;
    padding: 20px 20px 19px;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
    border-radius: 10px;
    background-color: #eb463c;
    background-image: url('../images/insurance_dx_sales/arrow.png');
    background-repeat: no-repeat;
    background-position: center right 40px;
    &:hover {
      opacity: 0.7;
    }
  }
  @if $type == sp {
    a {
      font-size: 2.2rem;
      box-sizing: border-box;
      width: 80%;
      padding: 14px 10px;
      border-radius: 6px;
      background-position: center right 10px;
      background-size: 24px;
    }
  }
}


//skill
.skill {
  padding: 100px 0 120px;
  color: #ffffff;
  background: $c_base url('../images/insurance_dx_sales/bg_skill.png') center no-repeat;
  background-size: cover;
  span {
    color: #ffc83c;
  }
  @if $type == sp {
    padding: 50px 0 60px;
  }
}

.skill__ttl {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 2em;
  text-align: center;
  letter-spacing: 0.1em;
  @if $type == pc {
    .sp {
      display: none;
    }
  }
  @if $type == sp {
    font-size: 2.5rem;
  }
}

.skill__list {
  font-size: 2.7rem;
  max-width: 840px;
  margin: auto;
  letter-spacing: 0.15em;
  li {
    font-weight: 400;
    position: relative;
    padding-left: 60px;
    list-style: none;
    counter-increment: skill-num;
    &::before,
    &::after {
      line-height: 1;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
    }
    &::before {
      width: 40px;
      height: 40px;
      background-color: #ffc83c;
    }
    &::after {
      font-family: $ff_eng;
      font-size: 2.5rem;
      top: 8px;
      left: 12px;
      content: counter(skill-num);
      color: $c_base;
    }
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
  span {
    color: #ffc83c;
  }
  @if $type == sp {
    font-size: 1.8rem;
    margin: 0 $margin_sp;
    li {
      padding-left: 30px;
      &::before {
        top: 4px;
        width: 20px;
        height: 20px;
      }
      &::after {
        font-size: 1.7rem;
        top: 6px;
        left: 5px;
      }
    }
  }
}


// slide
.slide {
  background-color: #f8f9fa;
  padding: 50px 0 100px 0;
  h2 {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    color: $c_base;
  }
}
.swiper-slide {
  width: calc(100% / 3);
  min-height: 300px;
  margin-top: 50px;
  padding: 50px;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-text {
      font-size: 2.3rem;
    p {
      font-style: italic;
      font-weight: 700;
      color: #000;
      &:last-child {
        margin-top: 30px;
        font-style: normal;
        color: #939393;
        text-align: center;
      }
    }
  }
  @if $type == sp {
    width: 90%;
    margin: 50px auto 0 auto;
  }
}
.swiper-pagination-bullet {
  background: green;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #fff;
}

//profile
.profile {
  background: $c_base url('../images/insurance_dx_sales/bg_top.png') center no-repeat;
  background-size: cover;
  padding: 50px 0 100px 0;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 3.6rem;
    font-weight: 700;
  }
}
.profile-wrap {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.profile__img {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  @if $type == pc {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 320px;
  }
  @if $type == sp {
    img {
      max-width: 70%;
      margin: auto;
    }
  }
}

.profile__txt {
  font-size: 1.7rem;
  padding: 40px 48px 40px 176px;
  background-color: #ffffff;
  max-width: 800px;
  margin-left: auto;
  p {
    line-height: 2.29;
  }
  @if $type == sp {
    font-size: 1.4rem;
    margin: -50px auto 0 auto;
    padding: 80px $margin_sp 20px;
    p {
      line-height: 1.8;
    }
  }
}

.profile__txt__wrap {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid $c_base;
  @if $type == sp {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.profile__txt__ttl {
  font-size: 1.7rem;
  margin-bottom: 24px;
  letter-spacing: 0.2em;
  span {
    font-size: 4rem;
    display: block;
  }
  @if $type == sp {
    font-size: 1.2rem;
    margin-bottom: 12px;
    span {
      font-size: 3rem;
    }
  }
}

.profile__txt__message {
  position: relative;
}

.profile__txt__message__ttl {
  @if $type == pc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7.5em;
    display: flex;
    margin: auto;
    letter-spacing: 0.1em;

    align-items: center;
  }
  @if $type == sp {
    margin-bottom: 1em;
    br {
      display: none;
    }
  }
}



//entry
#entry {
  background-color: #fff;
  padding-top: 50px;
  text-align: center;
  h2 {
    color: #000;
    margin-bottom: 50px;
    font-size: 3.6rem;
    font-weight: 700;
  }
  p {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .form-wrap {
    max-width: 840px;
    margin: auto;
    padding: 10px 50px;
    @if $type == sp {
      padding: 10px 50px 100px 50px;
    }
  }
}

//privacy
.privacy {
  background-color: #fff;
  box-sizing: border-box;
  .privacy-wrap {
    max-width: 840px;
    margin: auto;
    padding: 100px 0;
    letter-spacing: 0.1em;
    p {
      font-size: 1.4rem;
      line-height: 2.714;
      &:not(:last-child) {
        margin-bottom: 2em;
      }
    }
    @if $type == sp {
      padding: 0 $margin_sp 50px;
      p {
        font-size: 1.2rem;
        line-height: 2;
      }
    }
  }
}

.privacy__ttl {
  font-size: 2.2rem;
  margin-bottom: 1em;
  text-align: center;
  @if $type == sp {
    font-size: 1.6rem;
  }
}

#footer {
  padding: 70px 0;
  color: #323232;
  background-color: #dce1e6;
  @if $type == sp {
    padding: 35px $margin_sp;
  }
}

.footer__wrap {
  font-weight: 300;
  max-width: 1000px;
  margin: auto;

  @if $type == pc {
    display: flex;
    &:nth-of-type(1) {
      margin-bottom: 28px;

      align-items: flex-end;
    }
  }
}

.footer__logo {
  width: 156px;
  margin-right: 40px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.footer__info {
  line-height: 2;
  p {
    margin: 0;
  }
  @if $type == sp {
    margin-bottom: 30px;
  }
}

.footer__info__ttl {
  font-size: 2rem;
}

.footer__nav {
  margin-right: auto;
  ul {
    list-style: none;
  }
  a {
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #323232;
  }
  @if $type == pc {
    ul {
      display: flex;
    }
    li {
      &:not(:last-child) {
        margin-right: 22px;
        padding-right: 22px;
        border-right: 1px solid #323232;
      }
    }
  }
  @if $type == sp {
    ul {
      margin-bottom: 30px;
    }
    li {
      padding-bottom: 15px;
      text-align: center;
      border-bottom: 1px solid #323232;
      &:first-child {
        padding-top: 15px;
        border-top: 1px solid #323232;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.copyright {
  small {
    font-family: $ff_eng;
    font-size: 1rem;
  }
}


/* thank */
.ank-btn {
  text-align: center;
}
.book {
  margin: 70px auto 140px auto;
  h2 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 3.6rem;
    font-weight: 700;
    background: none;
    @media (max-width: (480px)) {
      font-size: 2.5rem;
    }
  }
  .book-wrap {
    background-color:rgba(255,255,255,0.3);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px;
    figure {
      width: 40%;
    }
    p {
      width: 55%;
      margin-left: auto;
      font-size: 2.5rem;
      font-weight: 700;
      color: #fff;
      @media (max-width: (480px)) {
        font-size: 1.8rem;
      }
    }
    @media (max-width: (480px)) {
      padding: 20px;
    }
  }
  @media (max-width: (480px)) {
    margin: 70px auto;
  }
}
.guide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    li {
      width: calc((100% - 100px) / 2);
      font-size: 3.5rem;
      font-weight: 700;
      a {
        display: block;
        min-height: 200px;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
        letter-spacing: 0.1em;
        border-radius: 10px;
        background-color: #eb463c;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          opacity: 0.7;
        }
      }
      @if $type == sp {
        font-size: 2.5rem;
      }
    }
    @media (max-width: (480px)) {
      display: block;
      li {
        width: 100%;
        margin-bottom: 20px;
        font-size: 2rem;
        a {
          min-height: auto;
        }
      }
    }
  }
  p {
    margin-top: 60px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    @media (max-width: (480px)) {
      font-size: 1.8rem;
    }
  }
}
